@font-face {
    font-family: STM;
    src: url("Fontes/ShareTechMono-Regular.ttf");
}

*{
    font-family: "STM";
}

body{
    background-color: rgb(75, 75, 75);
    text-align: center;
}

h1{
    text-align: center;
    color: white;
    background-color: rgb(116, 116, 116);
    padding: 5px;
    outline-width: 2px;
    outline-style: solid;
    outline-color: white;
    margin-left: 40%;
    margin-right: 40%;
}

.IPS{
    margin-bottom: 0%;
    margin-top: 0%;
    margin-left: 24%;
    margin-right: 24%;
    padding: 20px;
    color: black;
    background-color: rgb(207, 207, 207);
    outline-width: 4px;
    outline-style: solid;
    outline-color: black;
}

div{
    background-color: rgb(212, 212, 212);
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1%;
}

button{
    background-color: rgb(99, 99, 99);
    color: white;
    border-radius: 5px;
    font-size: 30px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    outline-width: 2px;
    outline-style: solid;
    outline-color: white;
}

.CV{
    margin-top: 10%;
    padding: 5%;
    padding-left: 40%;
    padding-right: 40%;
    color: black;
    background-color: rgb(231, 231, 231);
    font-size: 16px;
}

form{
    margin-left: 24%;
    margin-right: 24%;
    margin-bottom: 5%;
    margin-top: 0%;
    text-align: left;
    padding: 40px;
    background-color: rgb(99, 99, 99);
    outline-width: 4px;
    outline-style: solid;
    outline-color: rgb(0, 0, 0);
}

label{
    color: white;
}

